*{
    margin: 0;
    padding: 0;
}

html{
    background: violet;
}

header{
    text-align: center;
    margin: 1.5rem 0;
}

main{
    text-align: center;
    margin-top: 3rem;
}

button{
  margin: 1.5rem 0;
}


/***************VARIAVEIS****************/
:root {
    /*===fonts===*/
  --title-font: 'Concert One', cursive;
  --logo-font: 'Fredoka One', cursive;
  --body-font: 'Chivo', sans-serif;
  }

  /***************HEADER****************/

  .logo{
    font-family: var(--logo-font);
    margin-bottom: 1rem;
    font-size: 2rem;
    

  }
  .title{
    font-family: var(--title-font);
    font-size: 1.5rem;
  }

  /***************MAIN****************/

  .txt{
    font-family: var(--body-font);
    font-weight: bold;

    margin-top: 2rem;
  }

  .txt-radio{
    margin-left: .5rem;
    text-align: center;
    font-family: var(--body-font);
  }

  .box{ 
    text-align: center;
    height: 2rem;
    width: 15rem;
    border: none;
    border-radius: 1rem;
  }
  
  .cycle{
    margin-bottom: 1rem;
  }

  .error{
    display: none;
    background: red;
    color: white;
    width: 14rem;

    margin-left: 4.7rem;
  }

   /***************BUTTON****************/

   .clear{
    background: none;
    color: darkblue;
    border: none;

    font-family: var(--body-font);
   }

   .solid{
    background: lightseagreen;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 7rem;

    font-family: var(--body-font);
    font-weight: bold;
   }



   @media(min-width:800px){

    .error{
  
      margin-left: 35.7rem;
    }



   }