*{
    margin: 0;
    padding: 0;
}

html{
    background: violet;
}

header{
    text-align: center;
    margin: 1.5rem 0;
    
}

main{
    text-align: center;
    margin-top: 3rem;
}

button{
  margin: 1.5rem 0;

  font-size: 18px;
}


/***************VARIAVEIS****************/
:root {
    /*===fonts===*/
  --title-font: 'Concert One', cursive;
  --logo-font: 'Fredoka One', cursive;
  --body-font: 'Chivo', sans-serif;
  }

  /***************HEADER****************/

  .logo{
    font-family: var(--logo-font);
    margin-bottom: 1rem;
    font-size: 2rem;
    

  }
  .title{
    font-family: var(--title-font);
    font-size: 1.5rem;
  }

  /***************MAIN****************/

  div.container{
    background: lightblue;
    margin: 0% 5%;
    padding: 2% 0;
    box-shadow: 50%;
    border-radius: 20%;

    box-shadow: 10px 6px 6px gray;

  }

  .txt{
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: bold;

    margin: 1rem 0;
  }

  .txt-radio{
    margin-left: 2rem;
    text-align: center;
    font-family: var(--body-font);
  }

  .box{ 
    text-align: center;
    height: 3rem;
    width: 15rem;
    border: none;
    border-radius: 1rem;
  }
  
  .cycle{
    margin-left: 1rem;
  }

  .error{
    display: none;
    background: red;
    color: white;
    width: 14rem;

    margin-left: 4.7rem;
  }

   /***************BUTTON****************/

   .clear{
    background: none;
    color: darkblue;
    border: none;

    font-family: var(--body-font);
   }

   .solid{
    background: lightseagreen;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 7rem;

    font-family: var(--body-font);
    font-weight: bold;
   }

   /*responsy*/

   @media(min-width: 800px){

    .error{
  
      margin-left: 35.7rem;
    }

    form div.container{
      margin: 0 38% 10% 38%;

    }



   }
   